{% load static %}
<!--================Footer Area =================-->
<footer class="footer_area p_120">
    <div class="container">
        <div class="row footer_inner">
            <div class="col-lg-5 col-sm-6">
                <aside class="f_widget ab_widget">
                    <div class="f_title">
                        <h3>About Me</h3>
                    </div>
                    <p>Discuss a project or just want to say hi? My Inbox is open for all.

                        "Web Developer | Software Developer | Full-stack Developer | Python Developer |
                        Backend Developer | Frontend Developer | Angular Js Developer"
                        Nairobi, Kenya

                        Open for opportunities</p>
                </aside>
            </div>
            <div class="col-lg-5 col-sm-6">
                <aside class="f_widget news_widget">
                    <div class="f_title">
                        <h3>Newsletter</h3>
                    </div>
                    <p>Stay updated with my latest trends</p>
                    <div id="mc_embed_signup">


                        <form target="_blank"
                            action="#"
                            method="get" class="subscribe_form relative">
                            <div class="input-group d-flex flex-row">
                                <input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Email Address '" required="" type="email">
                                <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
                            </div>
                            <div class="mt-10 info"></div>
                        </form>



                    </div>
                </aside>
            </div>
            <div class="col-lg-2">
                <aside class="f_widget social_widget">
                    <div class="f_title">
                        <h3>Follow Me</h3>
                    </div>
                    <p>Let us be social</p>
                    <ul class="list">
                        <li><a href="https://www.facebook.com/trevo.sanchez/" target="_blank"><i
                                    class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://github.com/trevin-livele" target="_blank"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/trevin-livele-4415851aa/"><i
                                    class="fa fa-linkedin"></i></li>





                    </ul>
                </aside>
            </div>
        </div>
    </div>
</footer>
<!--================End Footer Area =================-->