{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--================Home Banner Area =================-->
<section class="home_banner_area">
	<div class="container box_1620">
		<div class="banner_inner d-flex align-items-center">
			<div class="banner_content">
				<div class="media">
					<div class="d-flex">
						<img src="https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
							alt="" style="width: 40pc;">
					</div>
					<div class="media-body">
						<div class="personal_text">
							<h6>Hello Everybody, i am</h6>
							<h3>Trevin Livele</h3>
							<h4>Software Developer and UI/UX designer</h4>
							<p>A passionate Full-stack Software Developer and UI/UX Designer
								having experience of designing and building Web applications.</p>
							<ul class="list basic_info">
								<li><a href="#"><i class="lnr lnr-calendar-full"></i> 12th December, 1999</a></li>
								<li><a href="#"><i class="lnr lnr-phone-handset"></i> (254) 792691810</a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> trevinlivele@gmail.com</a></li>
								<li><a href="#"><i class="lnr lnr-home"></i>Nairobi Kenya</a></li>
							</ul>
							<ul class="list personal_social">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://twitter.com/trevin_livele"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://www.linkedin.com/in/trevin-livele-4415851aa/"><i
											class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Home Banner Area =================-->

<!--================Welcome Area =================-->
<section class="welcome_area p_120">
	<div class="container">
		<div class="row welcome_inner">
			<div class="col-lg-6">
				<div class="welcome_text">
					<h4>About Myself</h4>
					<p>I am a detail-oriented, exceptionally organized ethical and honest individual
						with strong technical skills and eager to learn and work with new people in my
						area of expertise.
						I am a Full stack developer who loves clean, elegant styling and has a lot of experience in the
						production of CSS, HTML5, Bootstrap, JavaScript, PHP,Angular Js,MYSQL and Postgres for
						databases.
					</p>
					<div class="row">
						<div class="col-md-4">
							<div class="wel_item">
								<i class="lnr lnr-database"></i>
								<h4>3600+</h4>
								<p>Total work hours</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="wel_item">
								<i class="lnr lnr-book"></i>
								<h4>100+</h4>
								<p>Total Projects</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="wel_item">
								<i class="lnr lnr-users"></i>
								<h4>50+</h4>
								<p>Total Clients</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="tools_expert">
					<div class="skill_main">
						<div class="skill_item">
							<h4>UI/UX <span class="counter">85</span>%</h4>
							<div class="progress_br">
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
										aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="skill_item">
							<h4>Front End <span class="counter">90</span>%</h4>
							<div class="progress_br">
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
										aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="skill_item">
							<h4>Back end <span class="counter">85</span>%</h4>
							<div class="progress_br">
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
										aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="skill_item">
							<h4>APIs <span class="counter">95</span>%</h4>
							<div class="progress_br">
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
										aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="skill_item">
							<h4>Infomation Security <span class="counter">75</span>%</h4>
							<div class="progress_br">
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
										aria-valuemax="100"></div>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Welcome Area =================-->

<!--================My Tabs Area =================-->
<section class="mytabs_area p_120">
	<div class="container">
		<div class="tabs_inner">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
						aria-controls="home" aria-selected="true">My Education</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
						aria-controls="profile" aria-selected="false">My Experiences</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<ul class="list">
						<li>
							<span></span>
							<div class="media">
								<div class="d-flex">
									<p>October 2021 to march 2022</p>
								</div>
								<div class="media-body">
									<h4>Moringa School</h4>
									<p>Full Stack Web Developer <br />Nairobi , Kenya</p>
								</div>
							</div>
						</li>
						<li>
							<span></span>
							<div class="media">
								<div class="d-flex">
									<p>January 2019 to May 2021</p>
								</div>
								<div class="media-body">
									<h4>JKUAT University</h4>
									<p>Information Technology <br />JUJA, Kenya</p>
								</div>
							</div>
						</li>

					</ul>
				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<ul class="list">
						<li>
							<span></span>
							<div class="media">
								<div class="d-flex">
									<p>January 2022 to present</p>
								</div>
								<div class="media-body">
									<h4>Freelance</h4>
									<p>Full Stack Web Developer <br />Nairobi, Kenya</p>
								</div>
							</div>
						</li>
						<li>
							<span></span>
							<div class="media">
								<div class="d-flex">
									<p>JANUARY 2020 - 2021</p>
								</div>
								<div class="media-body">
									<h4>JKUAT ICT DIRECTORATE</h4>
									<p>Information Technology Assistant <br /> JKUAT JUJA , Main Campus
									</p>
								</div>
							</div>
						</li>

						<li>
							<span></span>
							<div class="media">
								<div class="d-flex">
									<p>JANUARY 2021- DEC 2021</p>
								</div>
								<div class="media-body">
									<h4>SUPREME KENYA COMPUTERS</h4>
									<p>ICT SUPPORT AND
										MAINTENANCE<br />JUJA, Kiambu</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End My Tabs Area =================-->




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/stellar.js' %}"></script>
<script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
<script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'vendors/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendors/popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'vendors/counter-up/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'vendors/counter-up/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
</body>

</html>

{% endblock %}