{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Contact Me</h2>
                    <div class="page_link">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="{% url 'contact' %}">Contact Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->







<!--================Contact Area =================-->
<section class="contact_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="contact_info">
                    <div class="info_item">
                        <i class="lnr lnr-home"></i>
                        <h6>Nairobi</h6>
                        <p>Kenya</p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-phone-handset"></i>
                        <h6><a href="#">(254) 792691810</a></h6>
                        <p>contact me for a chat</p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-envelope"></i>
                        <h6><a href="#">trevinlivele@gmail.com</a></h6>
                        <p>Send me your query anytime!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <form class="row contact_form" method="post" id="#" novalidate="novalidate">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name</label>
                            {{form.name}}
                            <!-- <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name"> -->
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            {{form.email}}

                            <!-- <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address"> -->
                        </div>
                        <div class="form-group">
                            <label>Subject</label>
                            {{form.subject}}
                            <!-- <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter Subject"> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Message</label>
                            {{form.message}}
                            <!-- <textarea class="form-control" name="message" id="message" rows="1" placeholder="Enter Message"></textarea> -->
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <button type="submit"  class="btn submit_btn">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--================Contact Area =================-->



{% endblock %}