{% extends 'base.html' %}
{% load static %}
{% block content %}



<!--================Home Banner Area =================-->
<section class="banner_area">
	<div class="box_1620">
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content text-center">
					<h2>Portfolio</h2>
					<div class="page_link">
						<a href="index.html">Home</a>
						<a href="portfolio.html">Portfolio</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Home Banner Area =================-->



<!--================Home Gallery Area =================-->
<section class="home_gallery_area p_120">
	<div class="container">
		<div class="main_title">
			<h2>My Latest Featured Projects</h2>
			<p>Projects i have worked on</p>
		</div>


		<div class="isotope_fillter">
			<ul class="gallery_filter">
				{% for category in category %}
				<li class="active"><a href="#">{{ category }}</a></li>
				{% endfor %}

			</ul>

		</div>

	</div>
	<div class="container">
		<div class="gallery_f_inner row imageGallery1">


			{% for project in projects %}
			<div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
				<div class="h_gallery_item">
					
					<div class="g_img_item">
						<img class="img-fluid" src="{{ project.images.url }}" alt="">
						<a class="light" href="{{ project.images.url}}"><img
								src="{{ project.images.url }}" alt=""></a>
					</div>
					<div class="g_item_text">
						<h4>NAME: {{ project.project_name }}</h4>
						<p>DESCRIPTION: {{ project.description }}</p>
						<a href="{{ project.github_link }}">view in github</a>
					</div>

				</div>

			</div>
			{% endfor %}








		</div>
		<div class="more_btn">
			<a class="main_btn" href="{% url 'portfolio' %}">Load More Items</a>
		</div>
	</div>
</section>
<!--================End Home Gallery Area =================-->




{% endblock %}