{% extends 'base.html' %}
{% load static %}
{% block content %}








 <!--================Home Banner Area =================-->
 <section class="banner_area">
    <div class="box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Services</h2>
                    <div class="page_link">
                        <a href="index.html">Home</a>
                        <a href="services.html">Services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->


<!--================Feature Area =================-->
<section class="feature_area p_120">
	<div class="container">
		<div class="main_title">
			<h2>offerings to my clients</h2>
			<p>If you are looking for a Web developer or a UI/UX Designer contact me for a chat.</p>
		</div>
		<div class="feature_inner row">
			<div class="col-lg-4 col-md-6">
				<div class="feature_item">
					<i class="flaticon-sketch"></i>
					<h4>Web Development</h4>
					<p>Web development is the work involved in developing a website for the Internet or an intranet. Web
						development can range from developing a simple single static page of plain text to complex web
						applications, electronic businesses, and social network services. </p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="feature_item">
					<i class="flaticon-sketch"></i>
					<h4>UI/UX Design</h4>
					<p>User interface design or user interface engineering is the design of user interfaces for machines
						and software, such as computers, home appliances, mobile devices, and other electronic devices,
						with the focus on maximizing usability and the user experience</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="feature_item">
					<i class="flaticon-sketch"></i>
					<h4>API Intergration</h4>
					<p>API integration is the connection between two or more applications via their APIs (application
						programming interfaces) that allow systems to exchange data sources. API integrations power
						processes throughout many sectors and layers of an organisation to keep data in sync, enhance
						productivity and drive revenue.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Feature Area =================-->





{% endblock %}
